{
  "extends": "airbnb-base",
  "settings": {
    "import/resolver": "webpack"
  },
  "env": {
    "jquery": true
  },
  "rules": {
    "import/prefer-default-export": 0,
    "comma-dangle": 0,
    "indent": ["error", 4],
    "no-var": 0,
    "prefer-arrow-callback": 0
  }
}
